.card{
text-align: center;
margin-top: 05rem;
justify-content: center;
margin-left: 10rem;
margin-right: 10rem;

}
img{
    height: 300px;
}

/* style={{textAlign:"center" ,width:"70rem",marginLeft:"15rem" }} */