.layout{
  height: 100vh;
  padding: 20px 50px;
}

.header{
  height: 10%;
  background-color: rgba(231, 215, 215, 0.85);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}.content{
 
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.486);
  padding: 10px;
}
.container-fluid{
  background-color: rgb(190, 174, 153);
}
.about{
  margin-left: 40%;
 margin-top: -01rem;
  height: 300px;
  position: absolute;
} 

/*...............................*/
nav {
    display: flex;
    align-items: right;
    justify-content: space-between;
    background: #a1722b;
 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  #navbar {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: -04rem;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  #navbar li a:hover,
  #navbar li a.active,
  #navbar li button.active ,
  #navbar li span.active  {
    color: #776543;
  }

  #navbar li button:hover::after,
  #navbar li a:hover::after,
  #navbar li span:hover::after,
  #navbar li a.active::after
   {
    content: "";
    width: 30%;
    height: 2px;
    background: #b88556;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

    #navbar li button{
     height:45px;
  width:100px;
  border-radius: 30px;
      background-color:rgb(160, 160, 172);
      border:none;
      color:white;
      border-radius: 30px;

    }


  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }
  
  @media screen and (max-width: 769px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 90px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: #2a3239;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
    }
  
    #navbar.active {
      right: 0px;
    }
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }